.botao {
    display: inline-block;
    padding: 16px 32px;
    background: linear-gradient(var(--cp2), var(--cp4));
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: var(--cp9);
    font: 600 1.125rem/1.35 'Poppins', sans-serif;
    max-width: max-content;
    border: none;
    cursor: pointer;
}

.botao:hover {
    background: linear-gradient(var(--cp3), var(--cp5));
}

.botao.secundario{
    background: var(--c10);
    color: var(--c2);
}

.botao.secundario:hover{
    background: var(--c9);
}

@media (max-width: 600px) {
    .botao {
        padding: 12px 16px;
        font-size: 1rem;
    }
}

.botao.seta{
  display: flex;
  align-items: center;
}

.botao.seta::after{
  content: '';
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url(../../img/icones/seta.svg);
  transition: transform .2s;
}

.botao.seta:hover::after{
  transform: translateX(4px);
}

.titulo-bg{
  background: var(--c11);
  padding-block: 60px;
}

.titulo{
  background: url(../../img/dec/top-right.svg) no-repeat top right 20px;
}

.titulo p{
  margin-bottom: 4px;
}

@media (max-width: 800px){
  .titulo-bg{
    padding-block: 40px;
  }

  .titulo p{
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}