:root {
    --c0: #ffffff;
    --c1: #f7f7f7;
    --c2: #ededed;
    --c3: #dedede;
    --c4: #cccccc;
    --c5: #b2b2b2;
    --c6: #9c9c9c;
    --c7: #717171;
    --c8: #595959;
    --c9: #404040;
    --c10: #2e2e2e;
    --c11: #111111;
    --c12: #000000;
    --cp1: #ffbb00;
    --cp2: #ffbf00;
    --cp3: #ffb60d;
    --cp4: #f2a50c;
    --cp5: #e59317;
    --cp6: #e4a30b;
    --cp7: #a66f00;
    --cp8: #664400;
    --cp9: #332200;
}

.cor-0{
    color: var(--c0);
}

.cor-1{
    color: var(--c1);
}

.cor-2{
    color: var(--c2);
}

.cor-3{
    color: var(--c3);
}

.cor-4{
    color: var(--c4);
}

.cor-5{
    color: var(--c5);
}

.cor-6{
    color: var(--c6);
}

.cor-7{
    color: var(--c7);
}

.cor-8{
    color: var(--c8);
}

.cor-9{
    color: var(--c9);
}

.cor-10{
    color: var(--c10);
}

.cor-11{
    color: var(--c11);
}

.cor-12{
    color: var(--c12);
}

.cor-p1{
    color: var(--cp1);
}

.cor-p2{
    color: var(--cp2);
}

.cor-p3{
    color: var(--cp3);
}

.cor-p4{
    color: var(--cp4);
}

.cor-p5{
    color: var(--cp5);
}

.cor-p6{
    color: var(--cp6);
}

.cor-p7{
    color: var(--cp7);
}

.cor-p8{
    color: var(--cp8);
}

.cor-p9{
    color: var(--cp9);
}