.seguro-bg{
  background: var(--c11);
  box-shadow: inset 0 120px var(--c0), inset 0 -120px var(--c12);
}

.seguro{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.seguro-imagem img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seguro-conteudo{
  padding-block: 180px;
}

.seguro h2{
  margin-bottom: 32px;
}

.seguro p{
  margin-bottom: 20px;
}

@media(max-width:800px){
  .seguro{
    grid-template-columns: 1fr;
  }

  .seguro-bg{
    box-shadow: inset 0 -60px var(--c12);
  }

  .seguro-conteudo{
    grid-row: 1;
    padding-block: 40px 0;
  }
}